export(caretEnsemble)
export(caretStack)
export(checkModels_extractTypes)
export(checkPreds)
export(extractBestPreds)
export(greedOptAUC)
export(greedOptRMSE)
export(makePredObsMatrix)
export(multiPredict)
S3method(predict, caretEnsemble)
S3method(summary, caretEnsemble)
export(predict.caretStack)
export(buildModels)
export(extractModRes)
