# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: test-coverage

permissions: read-all

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    if: (github.actor == 'dependabot[bot]' && github.event_name == 'pull_request') || github.actor != 'dependabot[bot]'
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::covr, any::xml2, any::testthat, any::htmltools, any::DT
          needs: coverage

      - name: Run unit tests and report coverage
        run: make clean && make cobertura.xml

      - name: Upload test results to codecov
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          file: ${{ runner.temp }}/cobertura.xml
          flags: unittests
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Test that coverage level is good
        run: make coverage-test